sauerbraten.pdb
bin/*
!bin/library_sauerbraten.exe
packages/*
!packages/icons/
packages/icons/*
!packages/icons/wrack/
src/vcpp
!src/vcpp/sauerbraten.sln
!src/vcpp/sauerbraten.suo
config.cfg
init.cfg
restore.cfg
servers.cfg
